@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}


.nav-item > a {
    border-bottom: 5px solid #343a40;
}

.nav-item > a:hover {
    border-bottom-color: white;
    transition: border-color 800ms;
}

.dropdown-menu a:hover {
    background-color: #007bff;
    color: white;
}

#showcase {
    background: url(../img/showcase2.jpg);
    height: 700px;
    padding-top: 150px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#showcase h1 {
    padding-top: 250px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

/* Ikan */
#ikanHias {
    background: url(../img/showoff1.jpg
    );
    height: 350px;
    padding-top: 150px;
    background-size:cover;
    background-position: top;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

#ikanPredator {
    background: url(../img/showoff2.jpg);
    height: 350px;
    padding-top: 150px;
    background-size:cover;
    background-position: bottom;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

#ikanLaut {
    background: url(../img/showoff1.jpg);
    height: 350px;
    padding-top: 150px;
    background-size:cover;
    background-position: bottom;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

#ikanHias h1, #ikanPredator h1, #ikanLaut h1 {
    padding-top: 170px;
}

.overlay-ikan {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
}

.card:hover {
    box-shadow: 10px 10px 32px -14px rgba(0,0,0,0.75);
}

.card {
    height: 400px;
}

.card-img-top {
    height: 200px;
}

.card-text {
    max-height: 80px;
    display: inline-block;
}

/* about */
#about {
    margin-top: 50px;
}

/* contact */

#contact {
    background-color: #0099ff;
    margin-top: -20px;
}
