@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EFEFEF !important;
}

@media only screen and (max-width: 600px) {
    .col img:first-child {
        width: 75% !important;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#navbar {
    background-color: #185ADB;
}

.nav-item>a {
    border-bottom: 5px solid #185ADB;
}

.nav-item>a:hover {
    border-bottom-color: white;
    transition: border-color 800ms;
}

.container a {
    color: #fff;
    font-weight: bold;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.dropdown-menu a {
    background-color: #185ADB;
}

.dropdown-menu a:hover {
    background-color: #EFEFEF;
    font-weight: bold;
}

#showcase {
    height: 700px;
    padding-top: 150px;
    background-size: cover;
    background-color: #EFEFEF;
    padding-bottom: 50px;
}

#fish1 {
    background-color: #39A2DB;
    color: white;
    margin-top: 100px;
    padding-top: 50px;
}

#fish2 {
    background-color: #3EDBF0;
    color: white;
    margin-top: -50px;
    padding-top: 50px;
}

#explore {
    padding-top: 100px;
    margin-top: -80px;
    padding-bottom: 100px;
    background-color: #efefef;
}

.breadcrumb-item a {
    color: #39A2DB;
}

#breadcrumb {
    background-color: #efefef;
    border: none;
}

#header {
    padding-top: 150px;
}

.card:hover {
    box-shadow: 10px 10px 32px -14px rgba(0, 0, 0, 0.75);
}

.card {
    height: 400px;
}

.card-img-top {
    height: 200px;
}

.card-text {
    max-height: 80px;
    display: inline-block;
}



/* about */
#about {
    margin-top: 50px;
}

/* contact */

#contact {
    /* background-color: #0099ff; */
    margin-top: -20px;
}

#footer {
    background-color: #185ADB;
    border-radius: 20px 20px 0 0;
    color: #efefef;
    padding: 20px;
}